---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
---


<Layout title="Blog | Rhythm Nation">
	<Main>
		<H1 text="About Us"/>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci magnam distinctio ipsa quidem illum consequuntur placeat qui sit voluptas atque. Officia, a molestias fuga vel animi, alias quae nobis neque distinctio hic error dolorum quo dolorem quasi illo perferendis fugiat magni itaque? Quam harum facilis iusto error. Alias, inventore perspiciatis!</p>
	</Main>
</Layout>